In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(r"D:\Nouveau dossier\TitreRNCP_Bloc1\projet_prevision_energies_bloc5\datasets\data.csv", 
                   parse_dates=['timestamp'])
data.head()

,timestamp,BIOMASS,NUCLEAR,SOLAR,WIND_ONSHORE,consommation_totale,production_totale,taux_couverture_pourcent,balancing_energetique,temperature
0,2017-12-31 23:00:00,295.0,37183.0,0.0,9808.0,58882.0,47286.0,80.306375,-11596.0,9.3
1,2018-01-01 00:00:00,293.0,34793.0,0.0,9707.0,55957.0,44793.0,80.048966,-11164.0,9.0
2,2018-01-01 01:00:00,293.0,34263.0,0.0,9502.0,55429.0,44058.0,79.485468,-11371.0,8.9
3,2018-01-01 02:00:00,294.0,34081.0,0.0,9288.0,52743.0,43663.0,82.784445,-9080.0,8.6
4,2018-01-01 03:00:00,294.0,34103.0,0.0,9005.0,50226.0,43402.0,86.413411,-6824.0,8.1

In [3]:
data.isnull().sum()

timestamp                   0
BIOMASS                     0
NUCLEAR                     0
SOLAR                       0
WIND_ONSHORE                0
consommation_totale         0
production_totale           0
taux_couverture_pourcent    0
balancing_energetique       0
temperature                 2
dtype: int64

In [4]:
data["temperature"].fillna(value=data["temperature"].interpolate(method="linear"), inplace=True)
data.isnull().sum()

C:\Users\saida\AppData\Local\Temp\ipykernel_35444\3130371668.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["temperature"].fillna(value=data["temperature"].interpolate(method="linear"), inplace=True)

timestamp                   0
BIOMASS                     0
NUCLEAR                     0
SOLAR                       0
WIND_ONSHORE                0
consommation_totale         0
production_totale           0
taux_couverture_pourcent    0
balancing_energetique       0
temperature                 0
dtype: int64